.card-header .card-category {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.card-header .card-icon {
    display: inline-block;
    vertical-align: middle;
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.row-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.card-header-tabs {
    text-align: center; /* Centre le contenu */
}

.card-header-tabs .nav-tabs-wrapper,
.card-header-tabs .nav-tabs-navigation {
    background-color: #ba0c2f;
    width: 100%; /* Assure que ces éléments prennent toute la largeur */
    display: flex;
    justify-content: center; /* Centre le contenu à l'intérieur */
    padding: 10px 0; /* Ajoute un peu de padding pour plus d'espacement */
}

.card-header-tabs .nav-tabs {
    display: inline-flex; /* Centre les onglets à l'intérieur */
    justify-content: center; /* Assure que les onglets sont centrés */
    width: 100%; /* Assure que les onglets prennent toute la largeur */
}

.card-header-tabs .nav-item {
    flex-grow: 1; /* Chaque onglet prend un espace égal */
    text-align: center; /* Centre le texte à l'intérieur de chaque onglet */
}

.card {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.btn-custom {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    background-color: #ba0c2f;
    color: white;
    border: none;
    text-align: center;
}

.card-header-icon .card-icon {
    background-color: #ba0c2f;
}

.card-header-icon .material-icons {
    color: white;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-row .col-lg-3,
.card-row .col-md-6,
.card-row .col-sm-6 {
    flex: 1;
}

.card-section {
    margin-top: 150px;
    margin-bottom: 50px; /* Add margin between the card rows */
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.resizable-card {
    resize: horizontal;
    min-width: 250px; /* Minimum width to ensure buttons fit */
    max-width: 100%; /* Ensure cards don't overflow */
}

.menu-burger {
    margin-top: 10px; /* Adjust the margin as needed */
}

.menu-burger h2 {
    font-size: 1.2em; /* Reduce the size of the titles */
}

.btn-small {
    font-size: 0.8em; /* Reduce the size of the buttons */
    padding: 5px 10px; /* Adjust padding to make the buttons smaller */
}

.centered-card {
    margin: 0 auto;
    float: none;
}
